# Database
DB_NAME='vite_wordpress'
DB_USER='root'
DB_PASSWORD='root'
DB_HOST='127.0.0.1:8889'
DB_PREFIX='wp_'

# Application URLs (the web server document root must point to ./web)
WP_ENV='development'
WP_HOME='http://localhost:8888'
WP_SITEURL="${WP_HOME}/wp"

# Vite development server
VITE_DEV_SERVER='http://localhost:5173'

# Generate unique production values at https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
